body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-modern {
  font-size: large;
  padding: 10px 20px;
  border: solid 1px transparent;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease;
}

.btn-modern:hover {
  transform: translateY(5px);
  background-color: cornflowerblue;
  color: bisque;
  box-shadow: 2px 5px rgb(140, 169, 223) ;
}