.boton{
  height: 50px;
  font-size: medium;
  border-radius: 5px;
}

.boton:hover {
  color: white;
  background-color: green;
}


.boton::before {
  content: "Pasa por encima";
  text-indent: 0;
}

.boton:hover::before{
  content: "¡Hecho!";
}